<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IECommerceDBContext" type="ECommmerceApp.NetFramework.DataLayer.Interfaces.IECommerceDBContext, ECommmerceApp.NetFramework.DataLayer" />
  <alias alias="ECommerceDBContext" type="ECommmerceApp.NetFramework.DataLayer.ECommerceDBContext, ECommmerceApp.NetFramework.DataLayer" />
  <alias alias="ICustomerService" type="ECommerceApp.NetFramework.BusinessLayer.Interfaces.ICustomerService, ECommerceApp.NetFramework.BusinessLayer" />
  <alias alias="CustomerService" type="ECommerceApp.NetFramework.BusinessLayer.CustomerService, ECommerceApp.NetFramework.BusinessLayer" />
  <container>
    <register type="IECommerceDBContext" mapTo="ECommerceDBContext" />
    <register type="ICustomerService" mapTo="CustomerService" />
  </container>
</unity>
