<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IECommerceDbContext" type="ECommmerceApp.NetFramework.DataLayer.Interfaces.IECommerceDbContext, ECommmerceApp.NetFramework.DataLayer" />
  <alias alias="ICustomerService" type="ECommerceApp.NetFramework.BusinessLayer.Interfaces.ICustomerService, ECommerceApp.NetFramework.BusinessLayer" />
  <alias alias="IFileHelperEngine" type="FileHelpers.IFileHelperEngine`1, FileHelpers" />
  <alias alias="IExportService" type="ECommerceApp.NetFramework.BusinessLayer.Interfaces.IExportService, ECommerceApp.NetFramework.BusinessLayer" />
  <alias alias="IZipFile" type="ECommerceApp.NetFramework.Shared.Adapters.Interfaces.IZipFile, ECommerceApp.NetFramework.Shared" />

  <alias alias="ECommerceDbContext" type="ECommmerceApp.NetFramework.DataLayer.ECommerceDbContext, ECommmerceApp.NetFramework.DataLayer" />
  <alias alias="CustomerService" type="ECommerceApp.NetFramework.BusinessLayer.CustomerService, ECommerceApp.NetFramework.BusinessLayer" />
  <alias alias="FileHelperEngine" type="FileHelpers.FileHelperEngine`1, FileHelpers" />
  <alias alias="ExportService" type="ECommerceApp.NetFramework.BusinessLayer.ExportService, ECommerceApp.NetFramework.BusinessLayer" />
  <alias alias="ZipFile" type="ECommerceApp.NetFramework.Shared.Adapters.ZipFileAdapter, ECommerceApp.NetFramework.Shared"></alias>

  <alias alias="CustomerExport" type="ECommerceApp.NetFramework.Shared.Models.CustomerExport, ECommerceApp.NetFramework.Shared" />

  <container>
    <register type="IECommerceDbContext" mapTo="ECommerceDbContext" />
    <register type="ICustomerService" mapTo="CustomerService" />
    <register type="IFileHelperEngine[CustomerExport]" mapTo="FileHelperEngine[CustomerExport]">
      <constructor/>
    </register>
    <register type="IExportService" mapTo="ExportService" />
    <register type="IZipFile" mapTo="ZipFile" />
  </container>
</unity>
